@import "mapbox-gl/dist/mapbox-gl";
@import 'brands';
@import 'map';

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

p {
  color: rgb(126, 126, 126);
}
