/////////////////// BRANDS SHOW STYLE ///////////////////
.show-container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.show-header {
  height: 250px;
  background-image: url('https://picsum.photos/500/300?random=5');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 5rem;

  img {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 2px white;
    left: 150px;
    bottom: -50px;
  }
}

.list__item {
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  text-align: center;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.brand-flex {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
}

/////////////////// MEDIA QUERIE ///////////////////
@media screen and (max-width: 1000px) {
  .list__item {
    grid-template-columns: repeat(2, 1fr);
  }

  .brand-flex {
    margin-right: 80px;
  }
}

@media screen and (max-width: 840px) {
  .brand-flex {
    flex-direction: column;
  }

  .show-description{
    margin-top: 50px;
  }
}

@media screen and (max-width: 750px) {
  .list__item {
    grid-template-columns: 1fr;
    margin: 50px;
  }

  .product__item {
    margin-bottom: 50px;
  }

  .brand-flex {
    margin-left: 50px;
  }
}
